@model postcard.Models.Home
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a class="" asp-area="" asp-controller="Home" asp-action="Index"><img class="logo" src="images/cloud_treinamentos_-_escolhida_-_1.png" /></a>
    <h5>Host: @Model.hostip</h5>
</div>
<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="card cardcapa">
                <img src="images/capa-sp.jpeg" class="logopostcard" alt="...">
                <div class="card-body">
                    <h5 class="card-title">São Paulo</h5>
                    <p class="card-text">
                        Não posso ficar
                        Nem mais um minuto com você
                        Sinto muito, amor
                        Mas não pode ser
                        Moro em Jaçanã... <a href="https://www.youtube.com/watch?v=XoUtxWU8lW8" target="_blank">mais</a>
                    </p>
                    <a href="#" class="btn btn-primary">Ver cartões</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card cardcapa">
                <img src="images/capa-bh.jpeg" class="card-img-top logopostcard" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Belo Horizonte</h5>
                    <p class="card-text">
                        É aqui que eu amo
                        É aqui que eu quero ficar
                        Pois não há á á!
                        Lugar melhor que BH... <a href="https://www.youtube.com/watch?v=0k35a0mu6dw" target="_blank">mais</a>
                    </p>
                    <a href="#" class="btn btn-primary">Ver cartões</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card cardcapa">
                <img src="images/capa-rj.jpeg" class="card-img-top logopostcard" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Rio de Janeiro</h5>
                    <p class="card-text">
                        O Rio de Janeiro continua lindo
                        O Rio de Janeiro continua sendo
                        O Rio de Janeiro, fevereiro e março... <a href="https://www.youtube.com/watch?v=HB8vbB5ILUU&t=1s" target="_blank">mais</a>
                    </p>
                    <a href="#" class="btn btn-primary">Ver cartões</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card cardcapa">
                <img src="images/capa-pa.jpeg" class="card-img-top logopostcard" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pará</h5>
                    <p class="card-text">
                        Oi mexe, mexe menina
                        Pode mexer sem parar
                        Você agora é a minha
                        Garota do tacacá... <a href="https://www.youtube.com/watch?v=J1v8z_tCnhk&t=23s" target="_blank">mais</a>
                    </p>
                    <a href="#" class="btn btn-primary">Ver cartões</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card cardcapa">
                <img src="images/capa-ba.jpeg" class="card-img-top logopostcard" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Bahia</h5>
                    <p class="card-text">
                        Olodum tá hippie, Olodum tá pop
                        Olodum tá reggae, Olodum tá rock
                        O Olodum pirou de vez... <a href="https://www.youtube.com/watch?v=3B4ZhbnFMBM" target="_blank">mais</a>
                    </p>
                    <a href="#" class="btn btn-primary">Ver cartões</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card cardcapa">
                <img src="images/capa-pr.jpeg" class="card-img-top logopostcard" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Paraná</h5>
                    <p class="card-text">
                        Acorda, Pedrinho
                        Que hoje tem campeonato
                        Vem dançar comigo
                        Vai ver que eu te esculacho... <a href="https://www.youtube.com/watch?v=ukPO8UtBAIk&t=145s" target="_blank">mais</a>
                    </p>
                    <a href="#" class="btn btn-primary">Ver cartões</a>
                </div>
            </div>
        </div>
    </div>
</div>

